{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="{% static 'img/logo.png' %}" class="logo">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <form class="navbar-form navbar-left collapse navbar-collapse navbar-right" action="/search" id="bs-example-navbar-collapse-1" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="search" class="form-control navbarfocuser" placeholder="Search" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
