<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>ImgShare{% if title %} - {{title}}{% endif %}</title>
  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text|PT+Sans" rel="stylesheet">
    <link rel="icon" href="{% static '/img/logo.png' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
  {% endblock %}
  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  {% block content %}
  {%endblock%}
  <div id="ImageModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="imagetitle"></h4>
              </div>
              <div class="modal-body" style="text-align:center">
                  <img id="imageimage" class="imagemodal">
                  <p id="imagedescription"></p>
                  <a target="_blank" class="label btn-success" id="imagedirectlink">Direct image link</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <div class="pull-left">
                  <input type="text" class="form-control" id="imagelink" value="nothing">
                  <button type="button" class="btn btn-success" onclick="copyaction()">Copy Link</button>
                </div>
              </div>
          </div>
      </div>
  </div>
  <script src="{% static '/js/index.js'%}"></script>
</body>
</html>
