{% extends 'base.html' %}
{% load mathfilters %}
{% load listslices %}
{% block content %}

<div class="splash">
  <div class="text">
    <div>Welcome To Imgshare</div>
    <button class="btn btn-success"><a class="linkmain" href="#browse">Browse</a></button>
  </div>
</div>
<div class="container">
  <div class="categories row">
    <fieldset>
      <legend>Categories</legend>
      {% for category in categories %}
      <div class="col-xs-12 col-md-6 col-lg-3 nopad">
        <div class="padder">
          <div class="catpreview" onclick="window.location='/cat/'+'{{category.id}}'" style="background-image: url('{{category.preview}}')">
            <h3 class="pull-left fixcolor">{{category.Name}}</h3>
          </div>
        </div>
      </div>
      {% endfor %}
    </fieldset>
  </div>
  <fieldset class="row">
    <legend>Gallery</legend>
    <div class="images" id="browse">
        {% for imagepiece in images|pieces:4 %}
        <div class="image">
          {% for image in imagepiece %}
            <img src='{{image.image.url}}' id="image{{image.id}}" class="galleryitem" onclick="showinfo({{image.allinfo}})" width="100%">
          {% endfor %}
        </div>
        {% endfor %}
    </div>
  </fieldset>
</div>
{% endblock %}
